name: Tests

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - run: pip install tox
      - run: tox -e lint
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - run: pip install tox
      - run: tox -e mypy
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {python: '3.9', tox: py39}
          - {python: '3.10', tox: py310}
          - {python: '3.11', tox: py311}
          - {python: '3.12', tox: py312}
          - {python: '3.13', tox: py313}
          - {python: '3.14', tox: py314}
          - {python: '3.14t', tox: py314}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - run: pip install tox
      - run: tox -e ${{ matrix.tox }}
  coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - run: pip install tox coveralls
      - run: tox -e coverage
      - run: coveralls --service=github
